@use 'reset';
@use 'header';
@use 'login';
@use 'create-user';
@use 'side-nav';
@use 'featured-media';
@use 'poster-view';
@use 'collections';
@use 'cast-info';
@use 'account';
@use 'search';
@use 'media-row';
@use 'genre-nav';


* {
  font-family: 'Roboto', sans-serif;
}

.main-layout {
  background: linear-gradient(135deg, rgb(31, 31, 44) 65%, rgba(19,50,150,2) 100%);
  // max-width: 100vw;
  min-height: 100vh;
}
.contain-contianer {
  max-width: 1440px;
  max-height: 100%;
}

h1 {
  font-size: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}
